<%= form_for(@thermometer, remote: :true) do |f| %>
  <% if @thermometer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermometer.errors.count, "error") %> prohibited this thermometer from being saved:</h2>

      <ul>
      <% @thermometer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="t_name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="t_name">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="t_name">
      <%= f.label :max_temp %><br>
      <%= f.text_field :max_temp %>
    </div>



<div>Would you like to receive email updates? <%= f.check_box :update_thermo%> </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
